:root
{
	blue: #20a8d8;
	breakpoint-lg: 992px;
	breakpoint-md: 768px;
	breakpoint-sm: 576px;
	breakpoint-xl: 1200px;
	breakpoint-xs: 0;
	cyan: #17a2b8;
	danger: #f86c6b;
	dark: #2f353a;
	font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	gray: #73818f;
	gray-100: #f3f4f5;
	gray-200: #e4e7ea;
	gray-300: #c8ced3;
	gray-400: #acb4bc;
	gray-500: #8f9ba6;
	gray-600: #73818f;
	gray-700: #3a4149;
	gray-800: #2f353a;
	gray-900: #23282c;
	gray-dark: #2f353a;
	green: #4dbd74;
	indigo: #6610f2;
	info: #63c2de;
	light: #f3f4f5;
	light-blue: #63c2de;
	orange: #f8cb00;
	pink: #e83e8c;
	primary: #20a8d8;
	purple: #6f42c1;
	red: #f86c6b;
	secondary: #73818f;
	success: #4dbd74;
	teal: #20c997;
	warning: #ffc107;
	white: #fff;
	yellow: #ffc107;
}

html
{
	font-family: sans-serif;
	line-height: 1.15;
	ms-overflow-style: scrollbar;
	ms-text-size-adjust: 100%;
	webkit-tap-highlight-color: transparent;
	webkit-text-size-adjust: 100%;
}

body {
    background-color: #2f353a;
    color: #e4e7ea;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+100 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(-45deg, #000000 0%, #45484d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #000000 0%,#45484d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #000000 0%,#45484d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #fff;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #fff;
}

.sidebar .nav-link.active {
  color: rgba(120,180,250, 1);
  font-weight: bold
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
