{% extends 'base.html' %}

{% block title_page %}
Создать дефект
{% endblock %}

{% block content %}
<h3>Новый дефект</h3>
<div class="col-md-6 justify-content-md-center">
    <form action="{{ url_for('defects.create_defect') }}" method="POST">
        <div class="form-group">
            <label>Оборудование</label>
            {{ form.equipment(class="form-control form-control-sm") }}
        </div>
        <div class="form-group">
            <label>Описание</label>
            {{ form.body(class="form-control form-control-sm", placeholder="Описание дефекта") }}
        </div>
        <div class="form-group">
            <label for="urgently">Срочный</label>
            <select class="form-control form-control-sm" name="urgently" id="urgently">
                <option value="False">Нет</option>
                <option value="True">Да</option>
            </select>
        </div>
        <div class="form-group">
            Дефект составил: <strong>{{ current_user.surname }} {{current_user.name }} {{ current_user.middle_name }}</strong>
        </div>
        {{ form.submit(class="btn btn-outline-success btn-sm") }}
    </form>
</div>

{% endblock %}