{% extends 'base.html' %}
{% block title_page %}
    Дефект ID: {{ defect.id}}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('defects.index') }}">Дефекты</a></li>
    <li class="breadcrumb-item active" aria-current="page">Дефект ID: {{ defect.id }}</li>
  </ol>
</nav>
<div class="card">
    {{ defect.equipments.name }}
      <ul class="list-inline">
          <li><span class="card-subtitle mb-2 text-muted"><img width="18" src=" {{ url_for('static', filename='img/if_calendar-book-date-monthly_2203551.png') }}"> Создан: {{ defect.created.strftime('%d.%m.%Y в %H:%M') }}</span></li>
          <li><img width="18" src="{{ url_for('static', filename='img/if_user-avatar-human-admin-login_2203549.png') }}"> <strong>{{ defect.author.surname}} {{ defect.author.name}} {{ defect.author.middle_name}}</strong></li>
          </ul>
          <p>{{ defect.description}}</p>
      </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#look_user_list">
  Просмотров [ {{ defect.loock}} ]
</button>
<div class="modal fade" id="look_user_list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Журнал просмотров дефекта</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Ф.И.О</th>
              <th scope="col">Дата</th>
            </tr>
          </thead>
          <tbody>
            {% for user in defect.loock_usr_dfct %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.surname }} {{ user.name }} {{ user.middle_name }}</td>
              <td>{{ defect.loock_usr_dfct.loosk_time }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<hr/>
{% if defect.taken_user_id == None %}
    <button type="button" class="btn btn-outline-primary accept-defect" id="{{ defect.id }}">Принять дефект</button>
{% else %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Дефект принят</h4>
    <p><strong>Время: </strong>{{ defect.taken_date.strftime('%d.%m.%Y в %H:%M') }}</p>
    <p><strong>Принял: </strong>{{ load_user_id(defect.taken_user_id).surname }} {{ load_user_id(defect.taken_user_id).name }} {{ load_user_id(defect.taken_user_id).middle_name }}</p>
</div>
{% endif %}
<hr/>
{% if defect.taken_user_id == current_user.id %}
    {% if defect.eliminated == 0 %}
        <form method="post"">
            <input type="hidden" name="defect_id" id="defect_id" value="{{ defect.id }}">
          <div class="form-group">
            <textarea class="form-control" id="eliminated_description" name="eliminated_description" rows="4"></textarea>
          </div>
          <button type="button" id="defect_writing" class="btn btn-success mb-2">Отписать этот дефект</button>
        </form>
    {% endif %}
{% endif %}
{% if defect.eliminated != 0 %}
    <div class="alert alert-primary" role="alert">
      <h4 class="alert-heading">Дефект отписан</h4>
      <p><strong>{{ defect.eliminated_date.strftime('%d.%m.%Y в %H:%M') }}</strong></p>
      <p><strong>Отписал: </strong>{{ load_user_id(defect.taken_user_id).surname }} {{ load_user_id(defect.taken_user_id).name }} {{ load_user_id(defect.taken_user_id).middle_name }}</p>
      <hr>
      <p class="mb-0">{{ defect.eliminated_description }}</p>
    </div>
{% endif %}


{% endblock %}