
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('index') }}">
                  <span data-feather="home"></span>
                  Главная <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('defects.index') }}">
                  <span data-feather="file"></span>
                  Дефекты
                </a>
              </li>
              {% if current_user.is_anonymous %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">
                  <span data-feather="layers"></span>
                  Войти
                </a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">
                  <span data-feather="layers"></span>
                  Профиль
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('defects.create_defect') }}">
                  <span data-feather="layers"></span>
                  Создать дефект
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">
                  <span data-feather="layers"></span>
                  Выйти
                </a>
              </li>
              {% endif %}
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('index') }}">
                  <span data-feather="home"></span>
                  Главная <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('defects.index') }}">
                  <span data-feather="file"></span>
                  Дефекты
                </a>
              </li>
              {% if current_user.is_anonymous %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">
                  <span data-feather="layers"></span>
                  Войти
                </a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">
                  <span data-feather="layers"></span>
                  Профиль
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>