<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{% block title_page %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">
                  <span data-feather="home"></span>
                  <img src="{{ url_for('static', filename='img/home.png') }}"> Главная
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('defects.index') }}">
                  <span data-feather="file"></span>
                  <img src="{{ url_for('static', filename='img/maintenance.png') }}"> Дефекты
                </a>
              </li>
              {% if current_user.is_anonymous %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">
                  <span data-feather="layers"></span>
                  <img src="{{ url_for('static', filename='img/login.png') }}"> Войти
                </a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">
                  <span data-feather="layers"></span>
                  <img src="{{ url_for('static', filename='img/user_24.png') }}"> Профиль
                </a>
              </li>
              {% if current_user.has_role('NSS') or current_user.has_role('NSM') %}}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('defects.create_defect') }}">
                  <span data-feather="layers"></span>
                  <img src="{{ url_for('static', filename='img/contract.png') }}"> Создать дефект
                </a>
              </li>
              {% endif %}
              {% if current_user.has_role('Administrator') %}}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.index') }}">
                  <span data-feather="layers"></span>
                  <img src="{{ url_for('static', filename='img/logout.png') }}"> Панель администратора
                </a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">
                  <span data-feather="layers"></span>
                  <img src="{{ url_for('static', filename='img/logout.png') }}"> Выйти
                </a>
              </li>
              {% endif %}
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>

<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь",
        "Ноябрь", "Декабрь"],
        datasets: [{
            label: '# of Votes',
            data: [
              {{ January }},
              {{ February }},
              {{ March }},
              {{ April }},
              {{ May }},
              {{ June }},
              {{ July }},
              {{ August }},
              {{ September }},
              {{ October }},
              {{ November }},
              {{ December }},
            ],
            backgroundColor: [
                'rgba(34, 139, 6, 0.8)',
            ],
            borderColor: [

                'rgba(19, 83, 2, 1)'

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
  </body>
</html>
