<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{% block title_page %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}"><img width="14px"  src="{{ url_for('static', filename='img/home.png') }}"> Главная <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img width="14px" src="{{ url_for('static', filename='img/maintenance.png') }}"> Дефекты</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{ url_for('defects.index') }}">Все</a>
              <a class="dropdown-item" href="/defects/defect_type/adopted">Принятые</a>
              <a class="dropdown-item" href="/defects/defect_type/not_adopted">Не принятые</a>
              <a class="dropdown-item" href="/defects/defect_type/eliminated">Отписанные</a>
            </div>
          </li>
          {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" id="login" href="{{ url_for('login') }}">
              <span data-feather="layers"></span>
              <img width="14px" src="{{ url_for('static', filename='img/login.png') }}"> Войти
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" id="user" href="{{ url_for('user', username=current_user.username) }}">
              <span data-feather="layers"></span>
              <img width="14px" src="{{ url_for('static', filename='img/user_24.png') }}"> Профиль
            </a>
          </li>
          {% if current_user.has_role('NSS') or current_user.has_role('NSM') %}}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('defects.create_defect') }}">
              <span data-feather="layers"></span>
              <img width="14px" src="{{ url_for('static', filename='img/contract.png') }}"> Создать дефект
            </a>
          </li>
          {% endif %}
          {% if current_user.has_role('Administrator') %}}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.index') }}">
              <span data-feather="layers"></span>
              <img width="14px" src="{{ url_for('static', filename='img/logout.png') }}"> Панель администратора
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">
              <span data-feather="layers"></span>
              <img width="14px" src="{{ url_for('static', filename='img/logout.png') }}"> Выйти
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <main role="main" class="col-md-11 ml-sm-auto col-lg-12 px-4">
          <div class="content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>

<script>
$(document).ready(function () {
    $("#{{request.endpoint}}").addClass("active");
})


var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь",
        "Ноябрь", "Декабрь"],
        datasets: [{
            label: '# of Votes',
            data: [
              {{ January }},
              {{ February }},
              {{ March }},
              {{ April }},
              {{ May }},
              {{ June }},
              {{ July }},
              {{ August }},
              {{ September }},
              {{ October }},
              {{ November }},
              {{ December }},
            ],
            backgroundColor: [
                'rgba(34, 139, 6, 0.8)',
            ],
            borderColor: [

                'rgba(19, 83, 2, 1)'

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

</script>
  </body>
</html>
