{% extends "base.html" %}
{% block title_page %}
    {{ current_user.surname }} {{ current_user.name }} {{ current_user.middle_name }}
{% endblock %}
{% block content %}
    <!--<h4>{{ current_user.surname }} {{ current_user.name }} {{ current_user.middle_name }}</h4>-->
    <h4>Принятые дефекты</h4>
    <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
            <th>Описание</th>
          <th>Оборудование</th>
          <th>Создан</th>
        </tr>
      </thead>
      <tbody>
      {% for defect in defects %}
        <tr
            {% if defect.eliminated == 1 %}
            class="table-success"
            {% endif %}
        >
          <td>{{ defect.id }}</td>
            <td><a href="{{ url_for('defects.defect_detail', id=defect.id) }}">{{ shorten_line(defect.description) }} ...</a></td>
          <td>{{ defect.equipments.name }}</td>
          <td>{{ defect.created.strftime('%d.%m.%Y в %H:%M') }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>



{% endblock %}